
<div class="container">
    <div class="panel panel-primary">     
        <div class="panel-heading" >
            <h3 class="panel-title">หมวดเอกสาร {{documents.content[0].category.cate}}</h3>
        </div>
        <div class="panel-body">
              <div class="row">
                <form class="navbar-form navbar-right">
                    <label class="col-md-2 control-label" style="margin-top: 5px;">ไฟล์</label>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="size" ng-click="selectSizeDoc()">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ลำดับ</th>
                                    <th>วันที่เอกสารเข้า</th>
                                    <th>วันที่ปฏิบัติงาน</th>
                                    <th>คำค้น</th>
                                    <th>หมวดเอกสาร</th>
                                    <th>เรื่อง</th>   
                                    <th>ไฟล์แนบ</th>
                                    <th>
                            <div class="icon-preview">
                                Dowload
                                <i class="mdi-file-file-download"></i>
                            </div>
                          
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="dld in documents.content">
                                    <td>{{dld.id}}</td>
                                    <td>{{dld.dateReceived}}</td>
                                    <td>{{dld.dateWork}}</td>
                                    <td>{{dld.keyWord}}</td>
                                    <td>{{dld.category.cate}}</td>
                                    <td>{{dld.topic}}</td>
                                    <td>{{dld.file.name}}</td>
                                    <td><input type="submit" value="Dowload" ng-click="dowload(dld)"></td>
                                   
                                </tr>
                            </tbody>
                        </table>
                        <a href="#/home"></a>
                         <ul class="pagination pull-right" >
                            <li id="firstPage"><a ng-click="firstPage()">«</a></li>
                            <li id="prePage"><a ng-click="prePage()">&LT;</a></li>
                            <li><a>{{page+1}}</a></li>
                            <li id="nextPage"><a ng-click="nextPage()">&GT;</a></li>
                            <li id="finalPage"><a ng-click="finalPage()">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="progress progress-striped">
            <div class="progress-bar progress-bar-primary" style="width: 100%"></div>
        </div>
    </div>

    <ul class="pager">
        <li class="previous"><a href="#/home">หน้าหลัก</a></li>
    </ul>
</div>