<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading" >
            <h3 class="panel-title">จัดการแบบฟอร์มดาวน์โหลด</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <form class="navbar-form navbar-right">
                    <label class="col-md-2 control-label" style="margin-top: 5px;">ไฟล์</label>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="size" ng-click="selectSizeForm()">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ลำดับ</th>
                                    <th>ชื่อแบบฟอร์ม</th>   
                                    <th>
                            <div class="icon-preview">
                                Dowload
                                <i class="mdi-file-file-download"></i>
                            </div>
                            </th>
                            <th>จัดการ</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="fdl in formfiles.content">
                                    <td>{{fdl.id}}</td>
                                    <td>{{fdl.formName}}</td>
                                    <td><input type="submit" ng-show="!!fdl.file.mimeType" value="Dowload" ng-click="dowload(fdl)">
                                        <h5 ng-hide="!!fdl.file.mimeType" style="color: red">ไม่มีไฟล์ข้อมูล</h5></td>
                                    <td><input type="submit" value="ลบ"  ng-click="clickDelete(fdl)" data-toggle="modal" data-target="#complete-dialog">
                                    </td> 
                                </tr>
                            </tbody>
                        </table>
                        <ul class="pagination pull-right" >
                            <li id="firstPage"><a ng-click="firstPage()">«</a></li>
                            <li id="prePage"><a ng-click="prePage()">&LT;</a></li>
                            <li><a>{{page + 1}}</a></li>
                            <li id="nextPage"><a ng-click="nextPage()">&GT;</a></li>
                            <li id="finalPage"><a ng-click="finalPage()">»</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="progress progress-striped">
            <div class="progress-bar progress-bar-primary" style="width: 100%"></div>
        </div>
    </div>

    <ul class="pager">
        <li class="previous"><a href="#/home">หน้าหลัก</a></li>
    </ul>
</div>


<div id="complete-dialog" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">ยืนยันการลบ</h4>
            </div>
            <div class="modal-body">
                <br>
                <br>
                แบบฟอร์มชื่อ  : {{delete.formName}}

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">ยกเลิก</button>
                <button class="btn btn-danger"  data-dismiss="modal" ng-click="deleteForm()">ลบ</button>
            </div>
        </div>
    </div>

</div>