<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">เพิ่มแบบฟอร์ม</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">ชื่อแบบฟอร์ม :</label>
                    <div class="col-md-3">
                        <input type="cate" class="form-control" ng-model="form.nameForm">
                    </div>
                </div>
                <div class="form-group">
                    <div class="icon-preview"><i class="mdi-editor-attach-file"></i>
                        <label class="col-md-2 control-label">ไฟล์แนบ :</label>
                        <div class="col-md-3">
                            <input type="file" class="form-control" form-model="form" custom-on-change ="saveForm">
                        </div>
                    </div>
                </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-3">
                            <input type="submit" class="btn btn-success" value="Save" ng-click="saveForm()">
                            <input type="submit" class="btn btn-warning" value="Clear" ng-click="clearForm()">
                        </div>
                    </div>
            </form>
        </div>
        <div class="progress progress-striped">
            <div class="progress-bar progress-bar-info" style="width: 100%"></div>
        </div>
    </div>

</div>