<div class="container">
    <form class="navbar-form navbar-left">

        <label class="control-label">ค้นหาจาก:</label>
        <select ng-model="searchData.searchBy" ng-change="selectSearchBy()" ng-init="searchData.searchBy = 'topic'">
            <option value="dateReceived">วันที่เอกสารเข้า</option>
            <option value="dateWork">วันที่ปฏิบัติงาน</option>
            <option value="topic">ชื่อเรื่อง</option>
            <option value="fileName">นามสกุลไฟล์</option>
            <option value="keyword">คำค้น</option>

        </select> &nbsp;&nbsp;
        <input ng-show="showDatePicker" type="text" class="form-control col-lg-8 datepicker" ng-model="searchData.keyWord" placeholder="Search Keyword">
        <input ng-hide="showDatePicker" type="text" class="form-control col-lg-8 " ng-model="searchData.keyWord" placeholder="Search Keyword">
        <input class="btn btn-info" type="submit" value="ค้นหา"  ng-click="search()">
        <input type="submit" data-toggle="modal" data-target="#complete-dialog" id="datanotfond" style="display: none">
    </form>

</div>


<div class="container">
    <div class="panel panel-primary">

        <div class="panel-heading" >
            <h3 class="panel-title">ประวัติการอัพโหลดเอกสาร</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <form class="navbar-form navbar-right">
                    <label class="col-md-2 control-label" style="margin-top: 5px;">ไฟล์</label>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="size" ng-change="selectSize()">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <!--                                    <th>ลำดับ</th>-->
                                    <th>วันที่เอกสารเข้า</th>
                                    <th>วันที่ปฏิบัติงาน</th>
                                    <th>หมวดเอกสาร</th>
                                    <th>เรื่อง</th>   
                                    <th>ไฟล์แนบ</th>
                                    <th>เจ้าของไฟล์</th>
                                    <th>
                            <div class="icon-preview">
                                ดาวน์โหลด
                                <i class="mdi-file-file-download"></i>
                            </div>
                            </th>
                            <th>รายละเอียด</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="dld in documents.content">
                                    <!--                                    <td>{{dld.id}}</td>-->
                                    <td>{{dld.dateReceived}}</td>
                                    <td>{{dld.dateWork}}</td>
                                    <td>{{dld.category.cate}}</td>
                                    <td>{{dld.topic}}</td>
                                    <td>{{dld.file.name}}</td>
                                    <td>{{dld.user.userName}}</td>
                                    <td><input type="submit" ng-show="!!dld.file.mimeType" value="Dowload" ng-click="dowload(dld)">
                                        <h5 ng-hide="!!dld.file.mimeType" style="color: red">ไม่มีไฟล์ข้อมูล</h5></td>
                                    <td><input type="submit" value="แก้ไขข้อมูล" ng-click="details(dld)"></td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="#/home"></a>
                       <ul class="pagination pull-right" >
                            <li id="firstPage"><a ng-click="firstPage()">«</a></li>
                            <li id="prePage"><a ng-click="prePage()">&LT;</a></li>
                            <li><a>{{page + 1}}</a></li>
                            <li id="nextPage"><a ng-click="nextPage()">&GT;</a></li>
                            <li id="finalPage"><a ng-click="finalPage()">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="progress progress-striped">
            <div class="progress-bar progress-bar-primary" style="width: 100%"></div>
        </div>
    </div>

    <ul class="pager">
        <li class="previous"><a href="#/home">หน้าหลัก</a></li>
    </ul>
</div>


<div id="complete-dialog" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">ไม่มีเอกสารที่คุณค้นหา</h4>
            </div>
            <div class="modal-body">


            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">ตกลง</button>

            </div>
        </div>
    </div>

</div>