<div class="container">

    <form class="navbar-form navbar-left">
        
   <label class="control-label">Search By:</label>
   <select ng-model="searchData.searchBy">
        <option value="">วันที่เอกสารเข้า</option>
        <option value="">วันที่ปฏิบัติงาน</option>
        <option value="topic">ชื่อเรื่อง</option>
        <option value="">ชื่อไฟล์</option>
        <option value="keyword">คำค้น</option>
        
   </select> &nbsp;&nbsp;
   <input type="text" class="form-control col-lg-8" ng-model="searchData.keyWord" placeholder="Search Keyword">
   <input class="btn btn-info" type="submit" value="Search" ng-click="search()">
    
    </form>
   
</div>
<div class="container">
    <div class="panel panel-danger">     
        <div class="panel-heading" >
            <h3 class="panel-title">เอกสารทั้งหมด</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ลำดับ</th>
                                    <th>วันที่เอกสารเข้า</th>
                                    <th>วันที่ปฏิบัติงาน</th>
                                    <th>คำค้น</th>
                                    <th>หมวดเอกสาร</th>
                                    <th>เรื่อง</th>   
                                    <th>ไฟล์แนบ</th>
                                    <th>
                            <div class="icon-preview">
                                Dowload
                                <i class="mdi-file-file-download"></i>
                            </div>
                          
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="dld in documents.content">
                                    <td>{{dld.id}}</td>
                                    <td>{{dld.dateReceived}}</td>
                                    <td>{{dld.dateWork}}</td>
                                    <td>{{dld.keyWord}}</td>
                                    <td>{{dld.category.cate}}</td>
                                    <td>{{dld.topic}}</td>
                                    <td>{{dld.file.name}}</td>
                                    <td><input type="submit" value="Dowload" ng-click="dowload(dld)"></td>
                                   
                                </tr>
                            </tbody>
                        </table>
                        <a href="#/home"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="progress progress-striped">
            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
        </div>
    </div>

    <ul class="pager">
        <li class="previous"><a href="#/home">หน้าหลัก</a></li>
    </ul>
</div>