.btn:active{
    position: relative;
    top: 2px;
}
select.ui-datepicker-year{
    color: black;
}

#firstPage:hover,#prePage:hover,#nextPage:hover,#finalPage:hover{
    cursor: pointer;
}
.form-control{
    background-size: 0 2px,100% 2px;
}

.topic{
    font-size: 18px; 
/*    font-family:  ;*/
}